@charset "UTF-8";

/* ---------------------------- */
/* RESET STYLE
/* ---------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------------------------- */
/* COMMON STYLE
/* ---------------------------- */
body {
    color: #666;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
    font-size: 16px;
}
.wrapper {
    max-width: 600px;
    margin: 60px auto;
}
.page-head {
    font-size: 36px;
}
.page-txt {
    font-size: 18px;
    padding: 20px 0;
}
.contents {
    margin-top: 40px;
}


/* ==========================
   FOR PAGELIST
/* ========================== */
.page-list-sec {
    border: 4px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}
.page-list-head {
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 4px solid orange;
}
.page-list-items {
    margin: 15px 5px 0;
}
.page-list-items a {
    display: block;
    padding: 8px 8px 8px 16px;
    position: relative;
    text-decoration: none;
    color: #666;
}
.page-list-items a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
    border: 5px solid transparent;
    border-left-color: orange;
    -webkit-transition: left 200ms ease;
    -moz-transition: left 200ms ease;
    -ms-transition: left 200ms ease;
    transition: left 200ms ease;
}
.page-list-items a:hover {
    background-color: #eee;
}
.page-list-items a:hover:before {
    left: 7px;
}
.page-list-items a:after {
    content: "";
    display: table;
    clear: both;
}
.page-list-items span:first-child {
    float: left;
}
.page-list-items span:last-child {
    float: right;
}